<!-- Start Row 1-->
<div class="row">
<!-- Start IP-->
<div class="col">
	<h3>Message History</h3>
	<div id="Message History" style="overflow:scroll; height:500px;">
		<form>
			<section>
				<h5>Caffet Renovation</h5> <h6>From 22/08/18 at 9h00 to 22/08/18 at 13h00</h6>
				<marquee direction="left">La caffet est en renovation !!</marquee>
				<marquee direction="left">Veuillez allez vous restaurer autre part.</marquee>
			</section>
			<section>
				<h5>Fin de journée 21/08/18</h5> <h6>From 21/08/18 at 18h00 to 21/08/18 at 18h02</h6>
				<marquee direction="left">Fin de la journée !!!</marquee>
				<marquee direction="left">Mosson: 3min | Ody: 4min</marquee>
			</section>
			<section>
				<h5>Activité "Mastering oral presentation | Part 5"</h5> <h6>From 21/08/18 at 10h50 to 21/08/18 at 11h00</h6>
				<marquee direction="left">"Mastering oral presentation | Part 5"</marquee>
				<marquee direction="left">Commence a 11h00 !</marquee>
			</section>
			<section>
				<h5>Ski BDE</h5> <h6>From 21/08/18 at 10h00 to 21/08/18 at 12h00</h6>
				<marquee direction="left">Noubliez pas de payer le voyage au ski !</marquee>
				<marquee direction="left">Adressez-vous a un membre du BDE.</marquee>
			</section>
			<section>
				<h5>Fin de journée 20/08/18</h5> <h6>From 20/08/18 at 18h00 to 20/08/18 at 18h02</h6>
				<marquee direction="left">Fin de la journée !!!</marquee>
				<marquee direction="left">Mosson: 5min | Ody: proche</marquee>
			</section>
			<section>
				<h5>Workshop "Ethical hacking | Part 3"</h5> <h6>From 20/08/18 at 13h50 to 20/08/18 at 14h00</h6>
				<marquee direction="left">"Ethical hacking | Part 3"</marquee>
				<marquee direction="left">Commence a 14h00 !</marquee>
			</section>
			<section>
				<h5>Ski BDE</h5> <h6>From 20/08/18 at 10h00 to 20/08/18 at 12h00</h6>
				<marquee direction="left">Noubliez pas de payer le voyage au ski !</marquee>
				<marquee direction="left">Adressez-vous a un membre du BDE.</marquee>
			</section>
			<section>
				<h5>Fin de journée 19/08/18</h5> <h6>From 19/08/18 at 18h00 to 19/08/18 at 18h02</h6>
				<marquee direction="left">Fin de la journée !!!</marquee>
				<marquee direction="left">Mosson: Proche | Ody: 3min</marquee>
			</section>
		</form>
	</div>
</div>
<!-- End IP-->
<!-- Start Log-->
<div class="col">
	<h3>Log</h3>
	<button type="submit" class="btn btn-primary">Reset Log</button>
	<div id="" style="overflow:scroll; height:500px;">
		<form>
			<div class="form-group">
				<label for="changeIP">- The message <B>Caffet Renovation</B> was displayed by <B>dimitri.eustache@epitech.eu</B> the <B>22/08/18 at 9h00</B></label>
				<label for="changeIP">- The message <B>Caffet Renovation</B> was created by <B>dimitri.eustache@epitech.eu</B> the <B>21/08/18 at 21h23</B></label>
				<label for="changeIP">- The message <B>Fin de journée 21/08/18</B> was displayed by <B>nao.marvin@epitech.eu</B> the <B>21/08/18 at 18h00</B></label>
				<label for="changeIP">- The message <B>Fin de journée 21/08/18</B> was created by <B>nao.marvin@epitech.eu</B> the <B>21/08/18 at 18h00</B></label>
				<label for="changeIP">- The message <B>Activité "Mastering oral presentation | Part 5"</B> was displayed by <B>nao.marvin@epitech.eu</B> the <B>21/08/18 at 10h50</B></label>
				<label for="changeIP">- The message <B>Activité "Mastering oral presentation | Part 5"</B> was created by <B>nao.marvin@epitech.eu</B> the <B>21/08/18 at 10h50</B></label>
				<label for="changeIP">- The message <B>ski BDE</B> was displayed by <B>lorenzo.coconut@epitech.eu</B> the <B>21/08/18 at 10h00</B></label>
				<label for="changeIP">- The message <B>Fin de journée 20/08/18</B> was displayed by <B>nao.marvin@epitech.eu</B> the <B>20/08/18 at 18h00</B></label>
				<label for="changeIP">- The message <B>Fin de journée 20/08/18</B> was created by <B>nao.marvin@epitech.eu</B> the <B>20/08/18 at 18h00</B></label>
				<label for="changeIP">- The message <B>Workshop "Ethical hacking | Part 3"</B> was displyed by <B>nao.marvin@epitech.eu</B> the <B>20/08/18 at 13h50</B></label>
				<label for="changeIP">- The message <B>Workshop "Ethical hacking | Part 3"</B> was created by <B>nao.marvin@epitech.eu</B> the <B>20/08/18 at 13h50</B></label>
				<label for="changeIP">- The message <B>ski BDE</B> was displayed by <B>lorenzo.coconut@epitech.eu</B> the <B>20/08/18 at 10h00</B></label>
				<label for="changeIP">- The message <B>Fin de journée 19/08/18</B> was displayed by <B>nao.marvin@epitech.eu</B> the <B>19/08/18 at 18h00</B></label>
				<label for="changeIP">- The message <B>Fin de journée 19/08/18</B> was created by <B>nao.marvin@epitech.eu</B> the <B>19/08/18 at 18h00</B></label>
				<label for="changeIP">- The message <B>ski BDE</B> was created by <B>lorenzo.coconut@epitech.eu</B> the <B>19/08/18 at 11h22</B></label>
				<label for="changeIP">- User <B>lorenzo.coconut@epitech.eu</B> logged in on the <B>19/08/18 at 11h18</B></label>
				<label for="changeIP">- Port was changed to <B>24</B> by <B>dimitri.eustache@epitech.eu</B> the <B>18/08/18 at 22h54</B></label>
				<label for="changeIP">- IP was changed to <B>275.56.324.164</B> by <B>dimitri.eustache@epitech.eu</B> the <B>18/08/18 at 22h45</B></label>
				<label for="changeIP">- User <B>dimitri.eustache@epitech.eu</B> logged in on the <B>18/08/18 at 22h34</B></label>
			</div>
		</form>
	</div>
</div>
<!-- End Log-->
</div>
<!-- End Row 1-->
