	<div class="list-group" style="text-align:center; font-size: 15px;">
		<div style="height:300px;">
			<a class="list-group-item active">Info Machine</a>
			<a class="list-group-item">CPU : XXXX</a>
			<a class="list-group-item">RAM : XXXX</a>
			<a class="list-group-item">Version : XXXX</a>
			<a href="reset" class="list-group-item">RESET MACHINE</a>
		</div>
		<div style="height:350px;">
			<a class="list-group-item active" style="font-size: 20px;">Actual message :</a>
			<a class="list-group-item">Message 1 : XXXX</a>
			<a class="list-group-item">Message 2 : XXXX</a>
			<a class="list-group-item" style="font-size: 20px;">Adding new message</a>
			<input type="text" class="form-control col-md-12" id="message" placeholder="Your message">
			<button type="submit" class="btn btn-primary">Send</button>
		</div>
		<div>
			<a class="list-group-item active">MESSAGE</a>
			<a href="#" class="list-group-item">MESSAGE1</a>
			<a href="#" class="list-group-item">MESSAGE2</a>
			<a href="#" class="list-group-item">MESSAGE3</a>
			<a href="#" class="list-group-item">MESSAGE4</a>
			<a href="#" class="list-group-item">MESSAGE5</a>
			<a href="#" class="list-group-item">...</a>
		</div>
	</div>