<div class="row">
    <div class="col">
        <h4><i class="fa fa-commenting" aria-hidden="true"></i> Current messages</h4>
        <a class="list-group-item list-group-item-action ">La caffet est en renovation !!</a>
        <a class="list-group-item list-group-item-action ">Veuillez allez vous restaurer autre part</a>
        <a class="list-group-item list-group-item-action ">Mastering oral presentation | Part 5</a>
        <a class="list-group-item list-group-item-action ">11h00 en SM3</a>
        <a class="btn btn-primary btn-block" href="#" role="button"><i class="fa fa-plus-square" aria-hidden="true"></i>
            Adding new message</a>
    </div>
    <div class="col">
        <h5>CPU</h5>
        <div class="progress">
            <div class="progress-bar bg-success" role="progressbar" style="width: 25%" aria-valuenow="25"
                 aria-valuemin="0" aria-valuemax="100"></div>
        </div>
        <hr>
        <h5>RAM</h5>
        <div class="progress">
            <div class="progress-bar bg-warning" role="progressbar" style="width: 60%" aria-valuenow="25"
                 aria-valuemin="0" aria-valuemax="100"></div>
        </div>
        <hr>
        <h5>Disk</h5>
        <div class="progress">
            <div class="progress-bar bg-success" role="progressbar" style="width: 45%" aria-valuenow="25"
                 aria-valuemin="0" aria-valuemax="100"></div>
        </div>
        <hr>
        <h5>Network</h5>
        <div class="progress">
            <div class="progress-bar bg-success" role="progressbar" style="width: 10%" aria-valuenow="25"
                 aria-valuemin="0" aria-valuemax="100"></div>
        </div>
    </div>
</div>
<br>
<div class="row">
    <div class="col">
        <h4><i class="fa fa-comments" aria-hidden="true"></i> Message history</h4>
        <ul class="list-group">
            <li class="list-group-item">Noubliez pas de payer le voyage au ski !</li>
            <li class="list-group-item">Adressez-vous a un membre du BDE.</li>
            <li class="list-group-item">Ethical hacking | Part 3</li>
            <li class="list-group-item">15h00 en SM4</li>
        </ul>
        <a class="btn btn-primary btn-block" href="#" role="button"><i class="fa fa-external-link" aria-hidden="true"></i>
            See everything
        </a>
    </div>
</div>