<!doctype html>
<html lang="en">
<head>
    <title>EpiSign</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css"
          integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
	 <link href="home.css" rel="stylesheet">
	 <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
		 <a class="navbar-brand" href="#">EpiSign</a>
		 <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
		 aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
		 <span class="navbar-toggler-icon"></span>
	 </button>
	 <div class="collapse navbar-collapse" id="navbarNav">
		 <ul class="navbar-nav">
			 <li class="nav-item">
				 <a class="nav-link" href="#">Dashboard</a>
			 </li>
			 <li class="nav-item">
				 <a class="nav-link" href="#">History</a>
			 </li>
			 <li class="nav-item">
				 <a class="nav-link" href="#">Settings</a>
			 </li>
		 </ul>
	 </div>
 </nav>
</head>
<body>
<div class="container">
	<div class="list-group" style="text-align:center; font-size: 15px;">
		<div style="height:300px;">
			<a class="list-group-item active">Info Machine</a>
			<a class="list-group-item">CPU : XXXX</a>
			<a class="list-group-item">RAM : XXXX</a>
			<a class="list-group-item">Version : XXXX</a>
			<a href="reset" class="list-group-item">RESET MACHINE</a>
		</div>
		<div style="height:350px;">
			<a class="list-group-item active" style="font-size: 20px;">Actual message :</a>
			<a class="list-group-item">Message 1 : XXXX</a>
			<a class="list-group-item">Message 2 : XXXX</a>
			<a class="list-group-item" style="font-size: 20px;">Adding new message</a>
			<input type="text" class="form-control col-md-12" id="message" placeholder="Your message">
			<button type="submit" class="btn btn-primary">Send</button>
		</div>
		<div>
			<a class="list-group-item active">MESSAGE</a>
			<a href="#" class="list-group-item">MESSAGE1</a>
			<a href="#" class="list-group-item">MESSAGE2</a>
			<a href="#" class="list-group-item">MESSAGE3</a>
			<a href="#" class="list-group-item">MESSAGE4</a>
			<a href="#" class="list-group-item">MESSAGE5</a>
			<a href="#" class="list-group-item">...</a>
		</div>
	</div>
</div>
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js"
        integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"
        integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ"
        crossorigin="anonymous"></script>
</body>
</html>
